@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html{ 
    overflow-x: hidden;
    color:#fff;
    font-family: 'Roboto Mono', monospace;
}

h2{
    font-style: italic;
    font-weight:900;
    font-size:1.5rem
}
li{
  display:inline;
}
li a:hover{
  color:#dc2cff
}
#profilePic{
    border-radius: 100%; /*1*/
    border: 4px solid transparent; /*2*/
    background: linear-gradient(45deg,#4C06F0,#4D08EF) border-box;
    animation-name: intro;
    animation-duration: 3s;
}

#profilePic img{
    background-size: cover;
}

h4{

  font-family: 'Roboto Mono', monospace;
  font-style:italic;
  font-weight:800;
  letter-spacing:1px
}
.animation{
    visibility: visible;
    animation-name:show;
    animation-duration: 5s;
}
#linguagens{
   background-color: #6E16D2; 
}
#frameworks{
    background-color: #d2cf16;
    color:#000;
}
#bibiliotecas{
    background-color:#d27116;
    color:#000
}
.btn{
    font-weight:800;
}
.btn:hover{
    color:  #8849e6;
}



/*-- Animations --*/

@keyframes intro{

    from {opacity: 0; margin-top:100px}
  
    to {opacity: 1; margin-top:0;}
}

@keyframes show{
    from {opacity: 0; margin-top: 10px;}
  
    to {opacity: 1; margin-top: auto;}
}